*{
    margin: 0;
    padding: 0;
    font-family: "M_PLUS_2";
    box-sizing: border-box;

    
}

*  i{
    
}

@font-face{
    font-family: "M_PLUS_2";
    src: url("./fonts/M_PLUS_2/MPLUS2-VariableFont_wght.ttf");
}
.banner{
    width: 100%;
    height:100vh;
    
    background-size:  100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: #d2c8d6;
    
}

.from-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 50px 60px 70px;
    text-align: center;
    
}

.from-box h1{
    font-size: 40px;
    margin-bottom: 60px;
    color: #000000;
    position: relative;
    background: transparent;
    font-family: "M_PLUS_2";
}

.from-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: #000000;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background: #ffffff;
    margin: 15px 0;
    border-radius: 3px;
    display:flex;
    align-items: center;
    font-family: "M_PLUS_2";
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
    
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    color: black
    font-family: "M_PLUS_2";
    
}

@font-face{
    font-family: "M_PLUS_2";
    src: url("./fonts/M_PLUS_2/MPLUS2-VariableFont_wght.ttf");
}

form p{
    font-family: "M_PLUS_2";
    text-align: left;
    font-size: 16px;
}

form p a{
    text-decoration: none;
    color: black;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    padding-top: 20px;
}
.btn-field button{
    flex-basis: 48%;
    background: #423754;
    color: #ffffff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group{
    height: 250px;
}

.btn-field button.disable{
    background: #eaeaee;
    color: #555;
}

.click{
    text-align: left;
}