*{
    margin: 0;
    padding: 0;
    font-family: "M_PLUS_2";
}



.banner{ 
    width: 100%;
    height:100vh;
    background-image: url(./img/background-main.png);
    background-size:  100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: #d2c8d6;
    
}

.navbar{
    width: 96%;
    font-family: "M_PLUS_2";
    padding: 0, 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding-top: 0;
}

.navbar ul li{
    list-style: none;
    font-family: "M_PLUS_2";
    display: inline-block;
    margin: 0 25px;
    align-items: left;
    padding-top: 0;
    position: relative;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #7F85B0;
    position: absolute;
    left: 0;
    top: 27px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    background-color: transparent;
    font-size: 20px;
    font-family: "M_PLUS_2";
    font-weight: light;
    padding-right: 0;

}

@font-face{
        font-family: "M_PLUS_2";
        src: url("./fonts/M_PLUS_2/MPLUS2-VariableFont_wght.ttf");
}

.logo{
    width: 170px;
    height: max-content;
    cursor: pointer;
    padding-left: 0;
    padding-right: 2px;
}

.cart{
    padding-top: 0;
    width: 40px;
    height: 40px;
    color: black;
    padding-right: 20px;
    padding-left: 700px;
}

.main-text{
    position: relative;
    color: black;
    padding-left: 10%;
    padding-top: 7%;
    font-size: 25px;
    font-weight: lighter;
}

.content{
    margin-left: 10%;
    margin-top: 2%;
    
}
.content a{
    display: inline-block;
    background-color: linear-gradient(45deg, #7F85B0, #d2c8d6);
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: "M_PLUS_2";
    font-weight: bolder;
    font-size: 18px;

}

.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, #7F85B0, #d2c8d6);
    border-radius: 15px 50px;
    padding: 20px 22px;
    box-sizing: border-box;
    color: #fff;

}

.people {
    /*height: 90%;
    position: absolute;
    bottom: 0;
    right: 160px;*/

    max-width: 70%;
    max-height: 70%;
    right: 10%;
    padding-left: 40%;
    bottom: 0;
    position: absolute;
    
}

.social-links{
    rotate: -90deg;
    position: absolute;
    left: -100px;
    bottom: 180px;
}

.social-links a{
    text-decoration: none;
    color: black;
    padding-right: 20px;
    font-family: "M_PLUS_2";
    font-weight: light;
    justify-content: space-between;
    font-size: 16px;
}
.social-links a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #7F85B0;
    position: absolute;
    left: 0;
    top: 27px;
    transition: 10s;
}

.social-links a:hover::after{
    width: 100%;
}

footer {
    background-color: rgb(51, 49, 74);
    color: #fff;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex: 0 0 25%;
  }
  
  .footer-column h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footer-column ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-column li {
    margin-bottom: 10px;
  }
  
  .footer-column a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }



  /* Styles for screens smaller than 480px */
  @media only screen and (min-width: 480px) and (max-width: 768px) and (orientation: portrait) {
    /* Reduce font size */
    body {
      font-size: 14px;
    }
    /* Reduce the size of the logo */
    .logo {
      width: 100px;
    }
    /* Move the cart icon to the center of the screen */
    .cart {
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto;
      width: 25px;
      height: 25px;
      
    }
    /* Reduce the size of the main text */
    .main-text {
      font-size: 19px;
    }
    /* Stack the navigation links vertically */
    .navbar ul {
      flex-direction: column;
      font-size: 12px;
    }

    .navbar ul li a{
        font-size: 18px;
    
    }
    /* Increase the size of the "buy now" button */
    .content .btn {
        padding: 10px 12px;
        font-size: 18px;
    }
    .banner {
        background-size: contain;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .people {
        visibility: hidden;
    }
    .social-links{
        visibility: hidden ;
        rotate: 360deg;
        text-align: center;
    }
    .social-links a{
        font-size: 12px;
        padding-right: 100px;
        text-align: center;
        padding-top: 10px;
    }
    footer {
        background-color: rgb(51, 49, 74);
        color: #fff;
        padding: 20px;
    }
      
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
    }
    
    .footer-column {
        flex: 0 0 100%;
        text-align: center;
        padding: 10px;
    }
    
    .footer-column h3 {
        margin-bottom: 10px;
        font-size: 18px;
    }
    
    .footer-column ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .footer-column li {
        margin-bottom: 10px;
    }
    
    .footer-column a {
        color: #fff;
        text-decoration: none;
    }
    
    .footer-column a:hover {
        text-decoration: underline;
    }
  }